html {        
    background-color:rgb(0, 0, 0);    
}

body {        
    border: 1px solid gray;
    margin: 100px;
}

h1 {  
    text-align: center;
}

h2 {    
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid gray;
    max-width: 200px;    
}
