html {
    font-family: Verdana, Geneva, sans-serif;
    border:1px solid white;
    padding-top:0;
    padding-bottom:0;
    background-color:rgb(0, 0, 0);
}

body {
    font-family: Verdana, Geneva, sans-serif;
    border:1px solid white;
    padding-top:0;
    padding-bottom:0
}
/*.section0 {
    margin: 10px;
    border:1px solid black;
    padding-top:0;
    padding-bottom:0
}

.sectiont {
    margin: 10px;
    border:0px solid black;
    border-bottom:1px solid black;
    padding-top:0;
    padding-bottom:0
}

.sectionb {
    margin: 10px;
    border:0px solid black;
    border-bottom:0px solid black;
    padding-top:0;
    padding-bottom:0
}

img{
border:0px solid black;
max-width: 92%;
height: auto;
width: auto;
}

p {margin:20}*/

/*
body {font-style: normal; font-weight: normal;}
p {color: #000000; font-family: Verdana, Geneva, sans-serif; margin:0; padding-top:0; padding-bottom:10}
h3 {color: #000000; font-family: Verdana, Geneva, sans-serif; margin:0; padding-top:10; padding-bottom:0}
ul li {font-family: Verdana, Geneva, sans-serif; list-style-type: disc;padding-bottom:1px;}
*/

/*
The following describes the CSS properties that are suppored by the rendering engine:
    font-family
    font-style
    font-size (supports relative units)
    font-weight
    font
    color
    background-color (with the exception of transparent)
    background-image
    background-repeat
    background-position
    background
    background-repeat
    text-decoration (with the exception of blink and overline)
    vertical-align (only sup and super)
    text-align (justify is treated as center)
    margin-top
    margin-right
    margin-bottom
    margin-left
    margin
    padding-top
    padding-right
    padding-bottom
    padding-left
    border-style (only supports inset, outset and none)
    list-style-type
    list-style-position
*/